cxf2-demo/src/main/resources/wadl/PersonService.wadl


<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <grammars>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
            <xs:element name="person" type="person" />
            <xs:complexType name="person">
                <xs:sequence>
                    <xs:element form="unqualified" minOccurs="0" name="firstName" type="xs:string" />
                    <xs:element form="unqualified" minOccurs="0" name="id" type="xs:long" />
                    <xs:element form="unqualified" minOccurs="0" name="lastName" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </grammars>
    <resources base="http://localhost:8083/jaxrs">
        <resource path="/persons/">
            <method name="GET">
                <response>
                    <representation mediaType="application/octet-stream" />
                </response>
            </method>
            <method name="POST">
                <request>
                    <representation mediaType="application/octet-stream" />
                </request>
                <response status="204"></response>
            </method>
            <resource path="{id}">
                <param name="id" style="template" type="xs:long" />
                <method name="DELETE">
                    <request></request>
                    <response status="204"></response>
                </method>
                <method name="GET">
                    <request></request>
                    <response>
                        <representation mediaType="application/octet-stream" />
                    </response>
                </method>
                <method name="PUT">
                    <request>
                        <representation mediaType="application/octet-stream" />
                    </request>
                    <response status="204"></response>
                </method>
            </resource>
        </resource>
    </resources>
</application>