cxf-demo/src/test/resources/wsdl-viewer/WsdlService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="WsdlService" targetNamespace="http://cxf.bulain.com/wsdl/service/1.0" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cxf.bulain.com/wsdl/service/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://cxf.bulain.com/wsdl/service/1.0" version="1.0" xmlns:ns1="http://cxf.bulain.com/wsdl/1.0" xmlns:tns="http://cxf.bulain.com/wsdl/service/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://cxf.bulain.com/wsdl/1.0" />
            <xs:element name="hand" type="tns:hand" />
            <xs:element name="handResponse" type="tns:handResponse" />
            <xs:element name="handle" type="tns:handle" />
            <xs:element name="handleResponse" type="tns:handleResponse" />
            <xs:element name="say" type="tns:say" />
            <xs:element name="sayResponse" type="tns:sayResponse" />
            <xs:complexType name="handle">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="handleResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response" type="ns1:wsdl" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="hand">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="ns1:wsdl" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="handResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response" type="ns1:wsdl" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="say">
                <xs:sequence>
                    <xs:element minOccurs="0" name="wsdl" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cxf.bulain.com/wsdl/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="wsdl">
                <xs:sequence>
                    <xs:element minOccurs="0" name="request" type="xs:string" />
                    <xs:element minOccurs="0" name="response" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="say">
        <wsdl:part element="tns:say" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="handResponse">
        <wsdl:part element="tns:handResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="handleResponse">
        <wsdl:part element="tns:handleResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="handle">
        <wsdl:part element="tns:handle" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayResponse">
        <wsdl:part element="tns:sayResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="hand">
        <wsdl:part element="tns:hand" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WsdlService">
        <wsdl:operation name="handle">
            <wsdl:input message="tns:handle" name="handle">
            </wsdl:input>
            <wsdl:output message="tns:handleResponse" name="handleResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hand">
            <wsdl:input message="tns:hand" name="hand">
            </wsdl:input>
            <wsdl:output message="tns:handResponse" name="handResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="say">
            <wsdl:input message="tns:say" name="say">
            </wsdl:input>
            <wsdl:output message="tns:sayResponse" name="sayResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WsdlServiceSoapBinding" type="tns:WsdlService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="hand">
            <soap:operation soapAction="hand" style="document" />
            <wsdl:input name="hand">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="handResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="handle">
            <soap:operation soapAction="handle" style="document" />
            <wsdl:input name="handle">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="handleResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="say">
            <soap:operation soapAction="say" style="document" />
            <wsdl:input name="say">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="sayResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WsdlService">
        <wsdl:port binding="tns:WsdlServiceSoapBinding" name="WsdlServicePort">
            <soap:address location="http://localhost:8082/cxf-demo/services/WsdlService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>